.description {
  width: 20vw;
  height: 100%;
  margin-left: 15vw;
  justify-content: center;
}

.description_text {
  margin-top: 30vh;
  font-weight: 300;
  font-size: 0.8vw;
}

.about-logo span {
  font-size: 0.3vw;
}