@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao+Looped&display=swap');

.main {
  width: 95vw;
  height: 98vh;
  margin: 0 auto;
  box-shadow: 0px 0px 1vw;
  display: flex;
  font-family: 'Noto Sans Lao Looped';
}

.temp {
  z-index:100;
}