.basketList {
  width: 80%;
  margin: 0 auto;
  padding: 1vh 0;
}

#shopBasket-logo {
  cursor: pointer;
}

h1 span {
  font-size: 0.3vw;
}

hr {
  width: 100%;
  height: 0.5vh;
  background-color: #dfdfe0;
  border: none;
}

/* 장바구니 항목 한 줄 */
.basket-row {
  position: relative;
  border-bottom: 0.2px solid #dfdfe0;
  padding: 1% 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.basket-row image {
  width: 40%;
}

.basket-row h4 {
  width: 11%;
  margin-right: -2.8%;
  text-align: center;
}

.basket-item-info {
  height: 10vh;
  width: 10vh;
}

#first-row {
  border-bottom: 0.2px solid #dfdfe0;
  padding: 1% 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5vh;
  background-color: #fafafa;
  border-top: 0.2px solid #dfdfe0;
}

.first-row h4 {
  display: inline;
}

/* 최종 계산 해주는 row */
.calc-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.calc-row span {
  margin: 0 0.5vw;
  font-size: 1em;
}

.button-row {
  margin-top: 3vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button-row button {
  width: 12vw;
  height: 8vh;
  border: none;
  outline:none;
  border-radius: 5px;
  font-size: 2em;
}

.button-row button#btn-go-shop {
  background-color: #800040;
  color:#fafafa;
  font-weight: 700;
}

.button-row button#btn-go-shop:hover {
  color: #800040;
  background-color:#fafafa;
  font-weight: 700;
}

.button-row button#btn-go-purchase {
  color: #800040;
  background-color:#fafafa;
  font-weight: 700;
}

.button-row button#btn-go-purchase:hover {
  background-color: #800040;
  color:#fafafa;
  font-weight: 700;
}

.close {
  position: absolute;
  top: .5vw;
  right: 1vw;
  font-size: 1.5em;
  cursor: pointer;
}

/* 상품 개수 버튼 */
.countButton {
  outline: none;
  margin:0 .5vw 0 .5vw;
  background-color: #fff;
  display: inline;
  text-align: center;
  border:1px solid black
}