.containerShop {
  height: 70vh;
  margin-right: 5vw;
  margin-top: 25vh;
  margin-left: -5vw;
}

.containerShop .items {
  display: flex;
  flex-wrap: nowrap;
  max-width:60vw;
  padding: 40px 0px;
  white-space: nowrap;
  overflow-x: auto;
  height: 21vw;
}

.containerShop .items::-webkit-scrollbar{
  height: 10px;
}
.containerShop .items::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: rgb(177, 177, 183);
}
.containerShop .items::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,0);
}

.containerShop .items .item {
  flex: 0 0 auto;
  width: 15vw;
  height: 88%;
  margin: 4px 0px 0px 0px;
  border: 3px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
  overflow: visible;
  transition: 
    transform .1s,
    background-color 0.6s;
}

.containerShop .items .item h2{
  background-color: #fff;
  font-size: 1em;
  text-align: left;
  font-weight: 700;
}

.containerShop .items .item:first-child{
  margin: 4px 0px 0px 70px;
}

.containerShop .items .item h3{
  display: none;
}

.containerShop .items h2{
  background-color: red;
}

.containerShop .items .item:hover {
  background-color: #fff;
  transform: scale(1.1);
  z-index: 1;
}

.containerShop .items .item .image img{
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90px;
}

.item-description {
  flex-direction: column;
}

/* 상품 설명 박스 */
#item-explain-area {  
  display: none;
  height: 30vh;
  margin: 1vh 0 0 2%;
  width: 98%;
}