.descriptionWork{
  width: 20vw;
  height: 100%;
  margin-left: 12vw;
  justify-content: center;
}

.descriptionWork_text {
  margin-top: 40vh;
  font-weight: 300;
  font-size: .9vw;
}

.descriptionWork h5{
  font-size: 1.3em;
}